<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<include file="Public/head"/>
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->
	<!-- bannerstart -->
	<include file="Public/banner"/>
	
	<!-- bannerend -->

	<!-- nav -->
	<include file="Public/nav"/>
	<!-- nav -->

	<!-- 身体 -->
	<include file="Public/body"/>
	<!-- 身体 -->



	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>
