@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0; font-size:12px; font-family:"宋体"; letter-spacing:1px;}
a{text-decoration:none;}
img{display:block;border:none 0;}
li{list-style:none;}

/*top*/
.top{height:80px; background-color:#F00; position:relative;}
.topbox{height:85px; width:100%; position:absolute; top:0px; left:0px; background-image:url(../images/top.png); z-index:9;}
.topbox1{width:1100px; height:80px; margin:auto; position:relative;}
.topbox_1{width:171px; height:62px; float:left; background-image:url(../images/topbox_1.png); margin-top:8px;}
.topbox_2{height:80px; float:right;}
.topbox_2a{float:left; height:20px; line-height:20px; width:67px; border-radius:2px; text-align:center; margin-top:30px;}
.topbox_2a a{color:#808080; letter-spacing:2px;}
.topbox_2a1 a{color:#038bff;}
.topbox_2aon{background-color:#038bff;}
.topbox_2aon a{color:white;}
.topbox_2b{float:left; height:20px; line-height:20px; margin-top:30px; color:#c3b9b1; padding:0px 2px;}

/*导航*/
.Halo{width:1100px; height:32px; position:absolute; top:80px; left:0px; z-index:-5;}
.Halo_1{width:153px; height:32px; background-color:#004ea1; float:left; margin-left:5px; font-size:16px; font-family:"微软雅黑"; line-height:32px; letter-spacing:3px; color:white; text-align:center; background-image:url(../images/Halo_1.png); position:relative;}
.Halo_2{width:153px; height:32px; background-color:#004ea1; float:left; margin-left:5px; font-size:16px; font-family:"微软雅黑"; line-height:32px; letter-spacing:3px; color:white; text-align:center; position:relative; cursor:pointer;}
.Halo_2:hover{background-image:url(../images/Halo_1.png);}
.Halo_2a{width:153px; height:auto; position:absolute; top:32px; left:0px; display:none;}
.Halo_2a li{width:153px; height:32px; margin-top:1px; background-image:url(../images/Halo_2a.png);font-size:16px; font-family:"微软雅黑"; line-height:32px; letter-spacing:3px; color:white; text-align:center;}
.Halo_2a li:hover{background-image:url(../images/Halo_1.png);}


/*banner*/
.banner{height:360px; background-image:url(../images/banner.png); background-position:center; background-repeat:no-repeat;}

/*页面关系*/
.relationship{height:auto; background-image:url(../images/relationship.png);}
.relationship_box{width:1100px; margin:auto; overflow:hidden;}
.relationship_1{height:37px; line-height:37px; float:left; font-size:16px; font-family:"黑体"; color:#505050;}
.relationship_1 a{font-size:16px; font-family:"黑体"; color:#505050;}
.relationship_1 a:hover{ color:#038bff;}
.relationship_2{height:37px; line-height:37px; font-size:20px; padding:0px 10px; color:#505050; float:left;}

/*内容*/
.content{width:1100px; overflow:hidden; margin:auto; padding-top:20px; padding-bottom:60px;}
/*左侧*/
.content_left{width:182px; height:auto; float:left;}
.content_left1{width:182px; height:50px; float:left; margin-bottom:1px; background-color:#ececec; font-size:16px; font-family:"黑体"; line-height:50px; text-align:center; color:#505050; cursor:pointer;}
.content_left2{width:182px; height:50px; float:left; margin-bottom:1px; background-image:url(../images/content_left2.png); font-size:16px; font-family:"黑体"; line-height:50px; text-align:center; color:white;}
.content_left1:hover{background-color:#2099fa; color:white;}
/*右侧*/
.content_right{width:897px; height:auto; float:left; margin-left:20px;}

/*以后替换的*/
.news{width:895px; min-height:730px; overflow:hidden; border:#e0e0e0 1px solid; padding-bottom:40px;}
.news1{width:795px; height:78px; padding:0px 50px; line-height:88px; font-size:30px; font-family:"黑体"; color:#038bff; float:left;}

/*最心动态*/
.news2{width:795px; height:47px; background-image:url(../images/news2.png); background-repeat:repeat-x; background-position:bottom; margin-left:50px; float:left;}
.news2dt{padding-left:15px; background-image:url(../images/news2_dt.png); background-repeat:no-repeat; background-position:2px 20px; line-height:46px; color:#878787; float:left; max-width:600px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; font-size:14px;}
.news2dton{color:#038bff;}
.news2 dd{height:46px; float:right; font-size:14px; line-height:46px; padding-right:5px; letter-spacing:3px; color:#878787;}
.news2:hover{background-color:#f3faff;}

/*媒体报道*/
.media{width:795px; height:136px; background-image:url(../images/news2.png); background-repeat:repeat-x; background-position:bottom; margin-left:50px; float:left;}
.media1{width:140px; height:105px; float:left; margin-top:15px;}
.media1 img{width:140px; height:105px;}
.media2{width:630px; height:20px; line-height:18px; font-size:14px; color:#353535; float:left; margin-top:15px; margin-left:20px;}
.media3{width:630px; line-height:20px; height:80px; overflow:hidden; color:#878787; float:left; margin-top:2px; margin-left:20px;}
.media3on{color:#2ea7e0;}



.news3{height:#30px; float:right; padding-right:55px; padding-top:30px;}
.news3_a{width:56px; height:26px; border:#e0e0e0 1px solid; float:left; margin-left:5px; line-height:26px; text-align:center; cursor:pointer;}
.news3_a:hover{background-color:#038bff; color:white; border:#007cea 1px solid;}
.news3_b{min-width:26px; height:26px; border:#e0e0e0 1px solid; float:left; margin-left:5px; line-height:26px; text-align:center; cursor:pointer;}
.news3_bon{min-width:26px; height:26px; float:left; margin-left:5px; line-height:26px; text-align:center; cursor:pointer;background-color:#038bff; color:white; border:#007cea 1px solid;}
.news3_b:hover{background-color:#038bff; color:white; border:#007cea 1px solid;}
.news3_c{width:28px; height:28px; float:left; margin-left:5px; line-height:26px; text-align:center;}


/*详情*/
.Details1{width:795px; padding-bottom:1px; background-image:url(../images/news2.png); background-repeat:repeat-x; background-position:bottom; margin-left:50px; float:left;}
.Details1 dt{ width:785px;line-height:24px; font-size:20px; font-family:"黑体"; padding-top:30px; color:#353535; float:left;}
.Details1dd1{height:40px; line-height:40px; font-size:14px; float:right; color:#666;}
.Details1dd2{height:40px; line-height:40px; font-size:14px; float:right; padding-left:40px; color:#666;}
.Details2{width:795px; height:auto; float:left; margin-left:50px; margin-top:20px;}



/*bottom*/
.bottom{height:auto; background-color:#a3a3a3;}
.bottom_box{width:1100px; overflow:hidden; margin:auto; padding-bottom:30px;}
.bottom_1{width:193px; height:72px; background-image:url(../images/bottom_1.png); float:left; margin-top:22px;}
.bottom_2{width:880px; line-height:20px; letter-spacing:2px; color:#f2f2f2; float:left; margin-top:45px; margin-left:20px;}
.bottom_3{width:880px; line-height:20px; letter-spacing:2px; color:#f2f2f2; float:left; margin-left:20px;}




